* {
    box-sizing: border-box;

    /*border: 1px dotted white;*/
}

body {
    font-size: 62.5%;
    background-color: #000000;
}

/*================================================================ NAVBAR*/

.navbar {
    width: 15%;
    background-color: #000000;
    display: inline-block;
    height: 100vh;
    position: fixed;
    text-align: center;
}

.logo {
    display: block;
    margin: 5% 0 0 5%;
    width: 90%;
}

.home,
.about-me,
.portfolio,
.contacts {
    display: block;
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin-top: 20%;
    font-family: "Avenir Next";
    font-size: 1rem;
    text-decoration: none;
    font-weight: lighter;
    transition: 0.5s;
}

.active {
    color: #ff0000;
    font-weight: normal;
}

.home:hover, .about-me:hover, .portfolio:hover, .contacts:hover {
    width: 140%;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-icons {
    text-align: center;
    margin-top: 20%;
}

.nav-icons .fa {
    display: block;
    font-size: 500%;
    color: #ffffff;
    margin-top: 5%;
}

.small-text-links {
    color: #ffffff;
    font-family: "Avenir Next";
    font-size: 0.6rem;
    text-decoration: none;
}

.navbar .nav-icons::before,
.nav-icons::after {
    content: ' ';
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    opacity: 0.6;
    width: 80%;
    margin-top: 5%;
}

/*===================================================== HOME*/

.home-container {
    position: relative;
    width: 80%;
    float: right;
    margin: 3% 2% 0 0;
}

.home-container img {
    width: 100%;
    position:absolute;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

@keyframes keyboardTurnsRed {
    0% {
        opacity:1;
    }
    20% {
        opacity:0.8;
    }
    40% {
        opacity:0.5;
    }
    60% {
        opacity:0.2;
    }
    80% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.home-container img.top {
    animation-name: keyboardTurnsRed;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

/*===================================================== ABOUT ME*/

.about-me-pic {
    position: absolute;
    margin: 20%;
    width: 20%;
    border-radius: 50%;
}

.about-me-content {
    width: 45%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    margin: 18% 0 0 50%;
    font-family: "Open Sans";
    font-size: 2rem;
}

/*===================================================== PORTFOLIO*/

.project-container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.project-link {
    width: 25%;
    margin: 2% 10%;
    border-radius: 30%;
    border: 2px solid #5e5d70;
}

.content-container-portfolio {
    background-image: url("../img/open-laptop.jpg");
    display: inline-block;
    width: 85%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
}

/*===================================================== CONTACTS*/



/*===================================================== ADMIN PANEL*/

.admin-new-project,
.admin-home {
    display: block;
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin-top: 75%;
    font-family: "Avenir Next";
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.admin-new-project:hover,
.admin-home:hover,
.admin-edit:hover {
    background-color: #ff0000;
}

.admin-delete:hover {
    background-color: #ffff00;
}

.admin-container {
    display: inline-block;
    width: 85%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
}

.admin-project-container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.admin-project-link {
    width: 25%;
    border-radius: 30%;
    border: 5px solid #5e5d70;
}

.admin-edit,
.admin-delete {
    display: inline-block;
    margin: 0 auto;
    width: 10%;
    color: #ffffff;
    text-align: center;
    font-family: "Avenir Next";
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.buttons .admin-delete {
    color:#ff0000;
}

.buttons {
    margin: 2% 0 10% 0;
}

/*===================================================== ADMIN FORMS*/

/*div {*/
    /*display: inline-block;*/
    /*width: 50%;*/
    /*text-align: right;*/
    /*color: white;*/
    /*font-size: 1rem;*/
/*}*/

/*===================================================== MEDIA QUERIES*/

/*X-LARGE (laptop)*/
@media (max-width:1300px) {
    .home:hover, .about-me:hover, .portfolio:hover, .contacts:hover {
        width: 140%;
        font-size: 1.6rem;
        font-weight: bold;
    }
}


/*LARGE (*/
@media (max-width:992px) {
    .home:hover, .about-me:hover, .portfolio:hover, .contacts:hover {
        width: 120%;
        font-size: 1.25rem;
    }
}


/*MEDIUM (iPad)*/
@media (max-width:768px) {
    .home:hover, .about-me:hover, .portfolio:hover, .contacts:hover {
        width: 120%;
        font-size: 1.25rem;
    }

    .about-me-pic {
        position: static;
        margin: 10% 0 0 35%;
        width: 40%;
        border-radius: 50%;
    }

    .about-me-content {
        width: 70%;
        text-align: center;
        color: #ffffff;
        position: static;
        margin: 15% 0 0 23%;
        font-family: "Open Sans";
        font-size: 1.5rem;
    }
}


/*SMALL (iPad mini)*/
@media (max-width: 576px){
    .logo {
        margin: 0 auto;
        width: 50%;
    }

    .navbar {
        position: absolute;
        width: 100%;
        background-color: #000000;
        display: inline-block;
    }

    .nav-icons {
        display: none;
    }

    .small-text-links {
        display: none;
    }

    .home-container {
        display: none;
    }

    .home,
    .about-me,
    .portfolio,
    .contacts {
        width: 100%;
        margin-top: 10%;
        font-size: 2rem;
    }

    .home:hover, .about-me:hover, .portfolio:hover, .contacts:hover {
        width: 100%;
        font-size: 2rem;
        font-weight: lighter;
    }

    #aboutMeNav .logo {
    display: none;
    }

    #aboutMeNav .home,
    #aboutMeNav .about-me,
    #aboutMeNav .portfolio,
    #aboutMeNav .contacts {
    width: 100%;
    margin-top: 0%;
    font-size: 1.5rem;
    }

    #aboutMeNav .small-text-links {
    display: none;
    }

    #aboutMeContainer .about-me-pic {
        position: relative;
        margin: 30% 0 0 30%;
        width: 40%;
        border-radius: 50%;
    }

    #aboutMeContainer .about-me-content {
        width: 70%;
        text-align: center;
        color: #ffffff;
        position: relative;
        margin: 10% 0 0 15%;
        font-family: "Open Sans";
        font-size: 1.2rem;
    }
}

/*X-SMALL (iPhone)*/
@media (max-width:375px) {
    .about-me,
    .portfolio,
    .contacts {
        margin-top: 15%;
    }

    #home {
        display: none;
    }

    #aboutMeContainer .about-me-pic {
        margin: 45% 0 0 30%;
    }

    #aboutMeContainer .about-me-content {
        width: 90%;
        margin: 15% 0 0 5%;
        font-size: 1rem;
    }
}